<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.craftred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>86052934-1D83-41B9-B138-B4E3ECB04AF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A8B1EC8-EF3A-49E3-BEF0-A38F6AAEA465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A027E29-53DE-4E6D-8C65-57CE0D002E20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CED8B91F-9092-4B3C-8C2A-B695A729E52F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9A44ECC-453D-4C20-AA8A-24E2FFD344A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DA13DA7-55FA-4565-9C0F-68C9C944DCF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>Craft it Up 🤘</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Craftred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>craftdocs://openByQuery?query=today&amp;spaceId={var:space_id}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9DA13DA7-55FA-4565-9C0F-68C9C944DCF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Captain's Log</string>
				<key>subtext</key>
				<string>Open today's note</string>
				<key>text</key>
				<string>Captain's Log</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9A44ECC-453D-4C20-AA8A-24E2FFD344A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>craftdocs://createdocument?spaceId={var:space_id}&amp;title={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A8B1EC8-EF3A-49E3-BEF0-A38F6AAEA465</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jot</string>
				<key>subtext</key>
				<string>Create a note</string>
				<key>text</key>
				<string>Jot it Down</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86052934-1D83-41B9-B138-B4E3ECB04AF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>craftdocs://opensearch?spaceId={var:craft_id}&amp;query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CED8B91F-9092-4B3C-8C2A-B695A729E52F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>quick</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Quick Open Craft</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9A027E29-53DE-4E6D-8C65-57CE0D002E20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://support.craft.do/hc/en-us/articles/360020168838-Using-URL-Scheme</string>
	<key>uidata</key>
	<dict>
		<key>0A8B1EC8-EF3A-49E3-BEF0-A38F6AAEA465</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>86052934-1D83-41B9-B138-B4E3ECB04AF1</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9A027E29-53DE-4E6D-8C65-57CE0D002E20</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>9DA13DA7-55FA-4565-9C0F-68C9C944DCF9</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>B9A44ECC-453D-4C20-AA8A-24E2FFD344A5</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>CED8B91F-9092-4B3C-8C2A-B695A729E52F</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Grab a deeplink, it'll have your Space ID</string>
			<key>label</key>
			<string>Space ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>space_id</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>SPACEID</key>
		<string>c81021c1-0e5c-7d54-77a3-86ee99334bc0</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/mnadel/craftred</string>
</dict>
</plist>
